.wave:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.chatMessageContainer::-webkit-scrollbar {
  width: 0.8em;
}

.chatMessageContainer {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.orange.400");
}

.chatMessageContainer::-webkit-scrollbar-track {
  background: transparent;

  margin-bottom: theme("spacing.20");
}

.chatMessageContainer::-webkit-scrollbar-thumb {
  background-color: theme("colors.orange.400");
  border-radius: 0.5em;
  border: 0.3em solid theme("colors.orange.200");
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
